ufc10
.env 
pyproject.toml 
uv.lock
project/Grounding-DINO-Tiny_results.json
project/InternVL2.5-8B_results.json
project/Qwen2.5-VL-7B_results.json
wandb/
Grounding-DINO-Tiny_results.json
InternVL2.5-8B_results.json
Qwen2.5-VL-7B_results.json
logs/
.dvc/*
!.dvc/config

data/coco/
data/coco_novel_10_shot/

*.DS_Store